# wp
vendor/
!public/
public/*
!public/wp-config.php
!public/.htaccess
!public/wp-content/
public/wp-content/*
!public/wp-content/themes/
public/wp-content/themes/*
!public/wp-content/themes/custom/

# misc
.DS_Store
.env
.idea/
var/
node_modules/
